---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
pagination:
  enabled: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on 
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}
<br>

<!-- Filtering Section -->
<div class="filter-container">
  <label><input type="checkbox" id="selectAll"> Select All</label>
  <label><input type="checkbox" id="journalFilter"> Journals</label>
  <label><input type="checkbox" id="conferenceFilter"> Conferences</label>
</div>

<!-- Publications List -->
<!-- <div id="publications">
  {% for post in paginator.posts %}
    <div class="publication fade" data-category="{{ post.category | downcase }}">
      {% include archive-single.html %}
    </div>
  {% endfor %}
</div> -->

<!-- Load Publications from all_publications.md -->
{% capture publications_content %}
  {% include_relative publications/all_publications.md %}
{% endcapture %}

<div id="publications">
  {{ publications_content | markdownify }}
</div>

<!-- Pagination Controls -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}

  <div class="pagination" style="text-align: left;">
    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">Previous</a>
    {% endif %}
  
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">Next</a>
    {% endif %}
  </div>
  

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</div>


<h2>Journal Papers</h2>
<ul>
{% for post in site.publications %}
  {% if post.category == "manuscripts" %}
    <li>
      <strong><a href="{{ post.paperurl }}">{{ post.title }}</a></strong>  
      <br> 🏛 <em>{{ post.venue }}</em>  
      <br> 📅 {{ post.date | date: "%B %d, %Y" }}  
      <br> 📖 Citation: {{ post.citation }}  
      <br> 📝 {{ post.excerpt }}
    </li>
  {% endif %}
{% endfor %}
</ul>

<h2>Conference Papers</h2>
<ul>
{% for post in site.publications %}
  {% if post.category == "conferences" %}
    <li>
      <strong><a href="{{ post.paperurl }}">{{ post.title }}</a></strong>  
      <br> 🏛 <em>{{ post.venue }}</em>  
      <br> 📅 {{ post.date | date: "%B %d, %Y" }}  
      <br> 📖 Citation: {{ post.citation }}  
      <br> 📝 {{ post.excerpt }}
    </li>
  {% endif %}
{% endfor %}
</ul>

<!-- Include External CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

<!-- Link to External JavaScript File -->
<script src="{{ site.baseurl }}/assets/js/filter-publications.js"></script>
