---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
<!-- Firebase SDK
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-firestore.js"></script> -->

<!-- Firestore API Script -->
<script type="module" src="{{ site.baseurl }}/assets/js/api-connection.js"></script>
<!-- <script type="module" src="{{ site.baseurl }}/assets/js/filter-publications.js"></script> -->


  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
    <div class="sidebar">
      {% include author-profile.html %}
    </div>

    {% include scripts.html %}

  </body>
</html>
