---
layout: default
title: "Publications"
permalink: /publications/
author_profile: true
pagination:
  enabled: true
  per_page: 10
  collection: publications
  categories: ["manuscripts", "conferences"]
---
{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on 
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}
<br>

<!-- Filtering Section -->
<div class="filter-container">
  <label><input type="checkbox" id="selectAll"> Select All</label>
  <label><input type="checkbox" id="manuscripts" data-category="journal"> Journals</label>
  <label><input type="checkbox" id="conferences" data-category="conference"> Conferences</label>
</div>

<!-- Publications List -->
<div id="publications">
  <ul>
    {% for pub in paginator.pages %}
      <li class="publication" data-category="{{ pub.categories | join: ' ' }}">
        <strong><a href="{{ pub.url }}">{{ pub.title }}</a></strong><br>
        <em>{{ pub.author }}</em><br>
        📅 <strong>Date:</strong> {{ pub.date | date: "%B %d, %Y" }}<br>
        🏛 <strong>Venue:</strong> {{ pub.venue }}<br>
        📖 Citation: <em>{{ pub.citation }}</em><br>
        📝 <em>Excerpt:</em> {{ pub.excerpt }}
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Pagination Controls -->
<div class="pagination-container">
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="prev">Previous</a>
    {% endif %}
    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
  </div>
</div>
{% include all_publications.md %}
<!-- Include JavaScript -->
<script src="{{ site.baseurl }}/assets/js/filter-publications.js"></script>
<script src="{{ site.baseurl }}/assets/js/paginate-publications.js"></script>

<!-- Include External CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

